{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Women in Tech & Entrepreneurship {% endblock %}</title>

    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/quartz_bootstrap.min.css' %}?v={{ STATIC_VERSION }}" id="quartz-theme">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}?v={{ STATIC_VERSION }}">
    {% bootstrap_javascript %}
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>