{% extends "base.html" %}

<!-- This is the user homepage. In other words, the landing page -->

{% block title %} Home {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!-- I dont think we need to authenticate here since this is the landing page -->

<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  {% include 'dashboard/navbar.html' %}
  <!-- <button type="submit">Log Out</button> -->
</form>
<h1>Hi {{ user.first_name }}!</h1>

{% else %}
{% include 'registration/login.html' %}
{% endif %}

{% endblock %}