{% extends "base.html" %}

{% block content %}
{% include 'dashboard/navbar.html' %}
<div class="main-with-sidebar">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card border-0 shadow-lg" style="max-width: 500px;">
            <div class="card-body px-md-6 py-6">
                <h1 class="text-center mb-4">Event Registration</h1>

                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags|default:'info' }} mb-4">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}

                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    {% for field in form_data %}
                        <div class="mb-4">
                            <label for="{{ field.id_for_label }}" class="form-label fs-6 fw-medium">{{ field.label }}</label>
                            {% if field.field.widget.input_type == 'checkbox' %}
                                {{ field }}
                            {% elif field.field.widget.input_type == 'select'%}
                                <!-- <select class="form-control form-control-lg {% if field.errors %}is-invalid{% endif %}"
                                    id="{{ field.id_for_label }}" name="{{ field }}" style="min-width: 400px;">
                                </select> -->
                                 {{ field }}
                            {% else %}
                                <!-- <input type="{{ field.field.widget.input_type }}"
                                    class="form-control form-control-lg {% if field.errors %}is-invalid{% endif %}"
                                    id="{{ field.id_for_label }}" name="{{ field.html_name }}" 
                                    {% if field.field.required %}required{% endif %} 
                                    style="min-width: 400px;"> -->
                                    <input type="{{ field.field.widget.input_type }}" 
                                    class="form-control form-control-lg" 
                                    id="{{ field.id_for_label }}"
                                    name="{{ field.html_name }}">
                            {% endif %}

                            <div class="invalid-feedback">
                                {% if field.errors %}
                                    {{ field.errors|first }}
                                {% elif field.field.required %}
                                    Please enter your {{ field.label|lower }}.
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary w-75 mx-auto d-block mb-4">Submit Attendance</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- TODO - 
 a) CSS for text outside of attendee field
 b) create notification system so that the admin gets an in app notification of who attends what and has a table of the top attendees
  -->